{% extends '::base.html.twig' %}

{% block body -%}

{% if edit == true %}
    <h1>Editing existing Radio</h1>
{% else %}
    <h1>New Radio</h1>
{% endif %}
<form class="form-horizontal" method="POST" action="{#{ path( 'tankopedia_radio_edit', { 'id': radio.id }) }#}">
    <div class="form-horizontal">
        <div class="control-group">
            <div class="control-label">
                {{ form_label( radio.name ) }}
            </div>
            <div class="controls">
                {{ form_widget( radio.name ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( radio.cost ) }}
            </div>
            <div class="controls">
                {{ form_widget( radio.cost ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( radio.weight ) }}
            </div>
            <div class="controls">
                {{ form_widget( radio.weight ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( radio.signalRange ) }}
            </div>
            <div class="controls">
                {{ form_widget( radio.signalRange ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( radio.tier ) }}
            </div>
            <div class="controls">
                {{ form_widget( radio.tier ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( radio.nationality ) }}
            </div>
            <div class="controls">
                {{ form_widget( radio.nationality ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( radio.tanks ) }}
            </div>
            <div class="controls">
                {{ form_widget( radio.tanks ) }}
            </div>
        </div>
    </div>
    <div class="btn-group">
        <input type="submit" class="btn btn-mini">
            <i class="icon-ok"></i> Save Form
        </input>
    </div>
</form>
{% endblock %}
