{% extends 'ImbcTankopediaBundle::_layout.html.twig' %}

{% block body -%}
    <h1>Radio list</h1>

    <table class="table table-condensed table-hover table-striped records_list">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Weight</th>
                <th>Signal Range</th>
                <th>Compatible With</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for radio in radios %}
            <tr>
                <td>{{ radio.tier }}</a></td>
                <td>{{ radio.name }}</td>
                <td>{{ radio.cost }}</td>
                <td>{{ radio.weight }}</td>
                <td>{{ radio.signalRange }}</td>
                <td>
                    {% for tank in radio.tanks %}
                        {{ tank }}
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_radio_show', { 'id': radio.id }) }}">show</a>
                        </button>
                            <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_radio_edit', { 'id': radio.id }) }}">edit</a>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tankopedia_radio_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
