{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Radio</h1>

    <table class="table table-condensed table-hover table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ radio.id }}</td>
            </tr>
            <tr>
                <th>Tier</th>
                <td>{{ radio.tier }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ radio.nationality }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ radio.name }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ radio.cost }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ radio.weight }}</td>
            </tr>
            <tr>
                <th>Signal Range</th>
                <td>{{ radio.signalRange }}</td>
            </tr>
            <tr>
                <th>Compatible Tanks</th>
                <td>
                    {% for tank in radio.tanks %}
                        {{ tank }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tankopedia_radio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tankopedia_radio_edit', { 'id': radio.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
