{% extends '::base.html.twig' %}

{% block body -%}
{% if edit == true %}
    <h1>Editing existing Engine</h1>
{% else %}
    <h1>New Engine</h1>
{% endif %}
<form class="form-horizontal" method="POST" action="">
    <div class="form-horizontal">
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.name ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.name ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.xp ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.xp ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.cost ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.cost ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.weight ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.weight ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.power ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.power ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.fireChance ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.fireChance ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.fuelType ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.fuelType ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.tier ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.tier ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.nationality ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.nationality ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( engine.tanks ) }}
            </div>
            <div class="controls">
                {{ form_widget( engine.tanks ) }}
            </div>
        </div>
    </div>
    <div class="btn-group">
        <a type="submit" class="btn btn-mini">
            <i class="icon-ok"></i> Save Form
        </a>
    </div>
</form>
{% endblock %}
