{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Engine list</h1>

    <table class="table table-condensed table-hover table-striped records_list">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Name</th>
                <th>XP required</th>
                <th>Cost</th>
                <th>Weight</th>
                <th>Power</th>
                <th>Change of Fire</th>
                <th>Fuel Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.tier }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.xp }}</td>
                <td>{{ entity.cost }}</td>
                <td>{{ entity.weight }} Kg</td>
                <td>{{ entity.power }} Hp</td>
                <td>{{ entity.fireChance }} %</td>
                <td>{{ entity.fuelType }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_engine_show', { 'id': entity.id }) }}">show</a>
                        </button>
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_engine_edit', { 'id': entity.id }) }}">edit</a>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <button class="btn btn-mini">
                <a href="{{ path('tankopedia_engine_new') }}">
                    Create a new entry
                </a>
            </button>
        </li>
    </ul>
    {% endblock %}
