{% extends '::base.html.twig' %}

{% block body -%}
<h1>Engine</h1>
<div class="btn-group pull-right">
    <a class="btn btn-mini" href="{{ path('tankopedia_engine') }}">
        <i class="icon-arrow-left"></i> Back to the list
    </a>
    <a class="btn btn-mini" href="{{ path('tankopedia_engine_edit', { 'id': engine.id }) }}">
        <i class="icon-wrench"></i> Edit
    </a>
    <a class="btn btn-mini" href="#">
        <i class="icon-trash"></i> Delete
    </a>
</div>

<table class="table table-condensed table-hover table-striped record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ engine.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ engine.name }}</td>
        </tr>
        <tr>
            <th>Xp</th>
            <td>{{ engine.xp }}</td>
        </tr>
        <tr>
            <th>Cost</th>
            <td>{{ engine.cost }}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{ engine.weight }}</td>
        </tr>
        <tr>
            <th>Power</th>
            <td>{{ engine.power }}</td>
        </tr>
        <tr>
            <th>Firechance</th>
            <td>{{ engine.fireChance }}</td>
        </tr>
        <tr>
            <th>Fueltype</th>
            <td>{{ engine.fuelType }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
