{% extends '::base.html.twig' %}

{% block body %}
{% if edit == true %}
    <h1>Editing existing Tank</h1>
{% else %}
    <h1>New Tank</h1>
{% endif %}
<form class="form-horizontal" method="POST" action="">
    <div class="form-horizontal">
        <div class="control-group">
            <div class="control-label">
                {{ form_label( tank.name ) }}
            </div>
            <div class="controls">
                {{ form_widget( tank.name ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( tank.premium ) }}
            </div>
            <div class="controls">
                {{ form_widget( tank.premium ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( tank.reward ) }}
            </div>
            <div class="controls">
                {{ form_widget( tank.reward ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( tank.class ) }}
            </div>
            <div class="controls">
                {{ form_widget( tank.class ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( tank.tier ) }}
            </div>
            <div class="controls">
                {{ form_widget( tank.tier ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( tank.nationality ) }}
            </div>
            <div class="controls">
                {{ form_widget( tank.nationality ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( tank.parents ) }}
            </div>
            <div class="controls">
                {{ form_widget( tank.parents ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( tank.children ) }}
            </div>
            <div class="controls">
                {{ form_widget( tank.children ) }}
            </div>
        </div>
    </div>
    <div class="btn-group">
        <a type="submit" class="btn btn-mini">
            <i class="icon-ok"></i> Save Tank
        </a>
    </div>
</form>
{% endblock %}
