{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tank list</h1>

    <table class="table table-condensed table-hover table-striped records_list">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Name</th>
                <th>Nationality</th>
                <th>Premium</th>
                <th>Reward</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.tier }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.nationality }}</td>
                <td>{{ entity.premium }}</td>
                <td>{{ entity.reward }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_tank_show', { 'id': entity.id }) }}">show</a>
                        </button>
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_tank_edit', { 'id': entity.id }) }}">edit</a>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-mini">
        <a href="{{ path('tankopedia_tank_new') }}">
            Create a new entry
        </a>
    </button>
    {% endblock %}
