{% extends '::base.html.twig' %}

{% block body -%}
<h1>{{ tank.name }}</h1>
<div class="btn-group pull-right">
    <a class="btn btn-mini" href="{{ path('tankopedia_tank_edit', { 'slug': tank.slug }) }}">
        <i class="icon-wrench"></i> Edit
    </a>
    <a class="btn btn-mini" href="#">
        <i class="icon-trash"></i> Delete
    </a>
</div>

<table class="table table-condensed table-hover table-striped record_properties">
    <tbody>
        <tr>
            <th>Nationality</th>
            <td>{{ tank.nationality }}</td>
            <th>Class</th>
            <td>{{ tank.class }}</td>
        </tr>
        <tr>
            <th>Premium</th>
            <td>{{ tank.premium }}</td>
            <th>Reward / Gift</th>
            <td>{{ tank.reward }}</td>
        </tr>
        {% for module in tank.modules %}
        <tr>
            <td>{{ module.name }}</td>
            <td>{{ module.xp }}</td>
            <td>{{ module.cost }}</td>
            <td>{{ module.type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
