{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Turret list</h1>

    <table class="table table-condensed table-hover table-striped records_list">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Name</th>
                <th>Xp</th>
                <th>Cost</th>
                <th>Weight</th>
                <th>Armorfront</th>
                <th>Armorside</th>
                <th>Armorrear</th>
                <th>Traversespeed</th>
                <th>Viewrange</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for turret in turrets %}
            <tr>
                <td>{{ turret.tier }}</td>
                <td>{{ turret.name }}</td>
                <td>{{ turret.xp }}</td>
                <td>{{ turret.cost }}</td>
                <td>{{ turret.weight }}</td>
                <td>{{ turret.armorFront }}</td>
                <td>{{ turret.armorSide }}</td>
                <td>{{ turret.armorRear }}</td>
                <td>{{ turret.traverseSpeed }}</td>
                <td>{{ turret.viewRange }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_turret_show', { 'slug': turret.slug }) }}">show</a>
                        </button>
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_turret_edit', { 'slug': turret.slug }) }}">edit</a>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tankopedia_turret_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
