{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Turret</h1>

    <table class="table table-condensed table-hover table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ turret.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ turret.name }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ turret.cost }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ turret.weight }}</td>
            </tr>
            <tr>
                <th>Armorfront</th>
                <td>{{ turret.armorFront }}</td>
            </tr>
            <tr>
                <th>Armorside</th>
                <td>{{ turret.armorSide }}</td>
            </tr>
            <tr>
                <th>Armorrear</th>
                <td>{{ turret.armorRear }}</td>
            </tr>
            <tr>
                <th>Traversespeed</th>
                <td>{{ turret.traverseSpeed }}</td>
            </tr>
            <tr>
                <th>Viewrange</th>
                <td>{{ turret.viewRange }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tankopedia_turret') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tankopedia_turret_edit', { 'slug': turret.slug }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
