{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nationality</h1>

    <table class="table table-condensed table-hover table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nationality.id }}</td>
            </tr>
            <tr>
                <th>Abreviation</th>
                <td>{{ nationality.abreviation }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ nationality.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tankopedia_nationality') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tankopedia_nationality_edit', { 'id': nationality.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
