{% extends '::base.html.twig' %}

{% block body -%}
<h1>Tier list</h1>

<table class="table table-condensed table-hover table-striped records_list">
    <thead>
        <tr>
            <th>Tier</th>
            <th>Number of Tanks</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for tier in entities %}
        <tr>
            <td>{{ tier.value }}</td>
            <td>{{ tier.tanks | length }}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-mini">
                        <a href="{{ path('tankopedia_tier_show', { 'id': tier.id }) }}">show</a>
                    </button>
                    <button class="btn btn-mini">
                        <a href="{{ path('tankopedia_tier_edit', { 'id': tier.id }) }}">edit</a>
                    </button>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-mini" href="{{ path('tankopedia_tier_new') }}">
    Create a new entry
</a>
{% endblock %}
