{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Gun list</h1>

    <table class="table table-condensed table-hover table-striped records_list">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Name</th>
                <th>XP required</th>
                <th>Cost</th>
                <th>Weight</th>
                <th>Ammo Capacity</th>
                <th>Damage AP</th>
                <th>Damage APCR</th>
                <th>Damage HE</th>
                <th>Damage AP</th>
                <th>Damage APCR</th>
                <th>Damage HE</th>
                <th>Shell</th>
                <th>Rate of Fire</th>
                <th>Accuratie</th>
                <th>Aim Time</th>
                <th>Aim Time</th>
                <th>Elevation</th>
                <th>Elevation</th>
                <th>Requiresturret</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.tier }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.xp }}</td>
                <td>{{ entity.cost }}</td>
                <td>{{ entity.weight }}</td>
                <td>{{ entity.ammoCapacity }}</td>
                <td>{{ entity.damageAP }}</td>
                <td>{{ entity.damageAPCR }}</td>
                <td>{{ entity.damageHE }}</td>
                <td>{{ entity.penetrationAP }}</td>
                <td>{{ entity.penetrationAPCR }}</td>
                <td>{{ entity.penetrationHE }}</td>
                <td>{{ entity.shell }}</td>
                <td>{{ entity.rateOfFire }}</td>
                <td>{{ entity.accuratie }}</td>
                <td>{{ entity.aimTimeMin }}</td>
                <td>{{ entity.aimTimeMax }}</td>
                <td>{{ entity.elevationMin }}</td>
                <td>{{ entity.elevationMax }}</td>
                <td>{{ entity.requiresTurret }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_gun_show', { 'id': entity.id }) }}">show</a>
                        </button>
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_gun_edit', { 'id': entity.id }) }}">edit</a>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tankopedia_gun_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
