{% extends '::base.html.twig' %}

{% block body -%}
<h1>Gun list</h1>

<table class="table table-condensed table-hover table-striped records_list">
    <thead>
        <tr>
            <th>Tier</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Weight</th>
            <th>Ammo Capacity</th>
            <th>Damage AP</th>
            <th>Damage APCR</th>
            <th>Damage HE</th>
            <th>Damage AP</th>
            <th>Damage APCR</th>
            <th>Damage HE</th>
            <th>Shell</th>
            <th>Rate of Fire</th>
            <th>Accuratie</th>
            <th>Aim Time</th>
            <th>Aim Time</th>
            <th>Elevation</th>
            <th>Elevation</th>
            <th>Requiresturret</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for gun in guns %}
        <tr>
            <td>{{ gun.tier }}</td>
            <td>{{ gun.name }}</td>
            <td>{{ gun.cost }}</td>
            <td>{{ gun.weight }}</td>
            <td>{{ gun.ammoCapacity }}</td>
            <td>{{ gun.damageAP }}</td>
            <td>{{ gun.damageAPCR }}</td>
            <td>{{ gun.damageHE }}</td>
            <td>{{ gun.penetrationAP }}</td>
            <td>{{ gun.penetrationAPCR }}</td>
            <td>{{ gun.penetrationHE }}</td>
            <td>{{ gun.shell }}</td>
            <td>{{ gun.rateOfFire }}</td>
            <td>{{ gun.accuratie }}</td>
            <td>{{ gun.aimTimeMin }}</td>
            <td>{{ gun.aimTimeMax }}</td>
            <td>{{ gun.elevationMin }}</td>
            <td>{{ gun.elevationMax }}</td>
            <td>{{ gun.requiresTurret }}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-mini">
                        <a href="{{ path('tankopedia_gun_show', { 'id': gun.id }) }}">show</a>
                    </button>
                    <button class="btn btn-mini">
                        <a href="{{ path('tankopedia_gun_edit', { 'id': gun.id }) }}">edit</a>
                    </button>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('tankopedia_gun_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
