{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Gun</h1>

    <table class="table table-condensed table-hover table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gun.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gun.name }}</td>
            </tr>
            <tr>
                <th>Xp</th>
                <td>{{ gun.xp }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ gun.cost }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ gun.weight }}</td>
            </tr>
            <tr>
                <th>Ammocapacity</th>
                <td>{{ gun.ammoCapacity }}</td>
            </tr>
            <tr>
                <th>Damageap</th>
                <td>{{ gun.damageAP }}</td>
            </tr>
            <tr>
                <th>Damageapcr</th>
                <td>{{ gun.damageAPCR }}</td>
            </tr>
            <tr>
                <th>Damagehe</th>
                <td>{{ gun.damageHE }}</td>
            </tr>
            <tr>
                <th>Penetrationap</th>
                <td>{{ gun.penetrationAP }}</td>
            </tr>
            <tr>
                <th>Penetrationapcr</th>
                <td>{{ gun.penetrationAPCR }}</td>
            </tr>
            <tr>
                <th>Penetrationhe</th>
                <td>{{ gun.penetrationHE }}</td>
            </tr>
            <tr>
                <th>Shell</th>
                <td>{{ gun.shell }}</td>
            </tr>
            <tr>
                <th>Rateoffire</th>
                <td>{{ gun.rateOfFire }}</td>
            </tr>
            <tr>
                <th>Accuratie</th>
                <td>{{ gun.accuratie }}</td>
            </tr>
            <tr>
                <th>Aimtimemin</th>
                <td>{{ gun.aimTimeMin }}</td>
            </tr>
            <tr>
                <th>Aimtimemax</th>
                <td>{{ gun.aimTimeMax }}</td>
            </tr>
            <tr>
                <th>Elevationmin</th>
                <td>{{ gun.elevationMin }}</td>
            </tr>
            <tr>
                <th>Elevationmax</th>
                <td>{{ gun.elevationMax }}</td>
            </tr>
            <tr>
                <th>Requiresturret</th>
                <td>{{ gun.requiresTurret }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tankopedia_gun') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tankopedia_gun_edit', { 'id': gun.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
