{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Gun</h1>

    <table class="table table-condensed table-hover table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Xp</th>
                <td>{{ entity.xp }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ entity.cost }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ entity.weight }}</td>
            </tr>
            <tr>
                <th>Ammocapacity</th>
                <td>{{ entity.ammoCapacity }}</td>
            </tr>
            <tr>
                <th>Damageap</th>
                <td>{{ entity.damageAP }}</td>
            </tr>
            <tr>
                <th>Damageapcr</th>
                <td>{{ entity.damageAPCR }}</td>
            </tr>
            <tr>
                <th>Damagehe</th>
                <td>{{ entity.damageHE }}</td>
            </tr>
            <tr>
                <th>Penetrationap</th>
                <td>{{ entity.penetrationAP }}</td>
            </tr>
            <tr>
                <th>Penetrationapcr</th>
                <td>{{ entity.penetrationAPCR }}</td>
            </tr>
            <tr>
                <th>Penetrationhe</th>
                <td>{{ entity.penetrationHE }}</td>
            </tr>
            <tr>
                <th>Shell</th>
                <td>{{ entity.shell }}</td>
            </tr>
            <tr>
                <th>Rateoffire</th>
                <td>{{ entity.rateOfFire }}</td>
            </tr>
            <tr>
                <th>Accuratie</th>
                <td>{{ entity.accuratie }}</td>
            </tr>
            <tr>
                <th>Aimtimemin</th>
                <td>{{ entity.aimTimeMin }}</td>
            </tr>
            <tr>
                <th>Aimtimemax</th>
                <td>{{ entity.aimTimeMax }}</td>
            </tr>
            <tr>
                <th>Elevationmin</th>
                <td>{{ entity.elevationMin }}</td>
            </tr>
            <tr>
                <th>Elevationmax</th>
                <td>{{ entity.elevationMax }}</td>
            </tr>
            <tr>
                <th>Requiresturret</th>
                <td>{{ entity.requiresTurret }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tankopedia_gun') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tankopedia_gun_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('tankopedia_gun_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
