{% extends 'ImbcTankopediaBundle::_layout.html.twig' %}

{% block body -%}

{% if edit == true %}
    <h1>Editing existing Track</h1>
{% else %}
    <h1>New Track</h1>
{% endif %}
<form class="form-horizontal" method="POST" action="">
    <div class="form-horizontal">
        <div class="control-group">
            <div class="control-label">
                {{ form_label( track.name ) }}
            </div>
            <div class="controls">
                {{ form_widget( track.name ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( track.cost ) }}
            </div>
            <div class="controls">
                {{ form_widget( track.cost ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( track.weight ) }}
            </div>
            <div class="controls">
                {{ form_widget( track.weight ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( track.loadLimit ) }}
            </div>
            <div class="controls">
                {{ form_widget( track.loadLimit ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( track.traverseSpeed ) }}
            </div>
            <div class="controls">
                {{ form_widget( track.traverseSpeed ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( track.tier ) }}
            </div>
            <div class="controls">
                {{ form_widget( track.tier ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( track.nationality ) }}
            </div>
            <div class="controls">
                {{ form_widget( track.nationality ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( track.tanks ) }}
            </div>
            <div class="controls">
                {{ form_widget( track.tanks ) }}
            </div>
        </div>
    </div>
    <div class="btn-group">
        <a type="submit" class="btn btn-mini">
            <i class="icon-ok"></i> Save Form
        </a>
    </div>
</form>
{% endblock %}
