{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Track list</h1>

    <table class="table table-condensed table-hover table-striped records_list">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Name</th>
                <th>Xp</th>
                <th>Cost</th>
                <th>Weight</th>
                <th>Loadlimit</th>
                <th>Traversespeed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.tier }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.xp }}</td>
                <td>{{ entity.cost }}</td>
                <td>{{ entity.weight }}</td>
                <td>{{ entity.loadLimit }}</td>
                <td>{{ entity.traverseSpeed }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_track_show', { 'id': entity.id }) }}">show</a>
                        </button>
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_track_edit', { 'id': entity.id }) }}">edit</a>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tankopedia_track_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
