{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Track list</h1>

    <table class="table table-condensed table-hover table-striped records_list">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Weight</th>
                <th>Load Limit</th>
                <th>Traverse Speed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr>
                <td>{{ track.tier }}</td>
                <td>{{ track.name }}</td>
                <td>{% if track.cost != 0 %}
                        {{ track.cost }}
                    {% else %}
                        <i class="icon-star"></i>
                    {% endif %}
                </td>
                <td>{{ track.weight }} kg</td>
                <td>{{ track.loadLimit }} t</td>
                <td>{{ track.traverseSpeed }} deg/sec</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_track_show', { 'slug': track.slug }) }}">show</a>
                        </button>
                        <button class="btn btn-mini">
                            <a href="{{ path('tankopedia_track_edit', { 'slug': track.slug }) }}">edit</a>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tankopedia_track_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
